<div class="columns is-gapless">
  {{auth-modal}}
  <div class="column is-7" style="padding-right: 35px;">
    {{room-nav currentRoom=room currentEvent=currentEvent isOpen=isOpen}}
    {{room-selector updateRoom="updateRoom" currentRoom=room}}
  </div>
  <div class="column">
    {{event-sidebar events=events currentRoom=room isOpen=isOpen addEvent="addEvent"}}
  </div>
</div>
