<section class="hero is-primary is-fullheight">
  {{room-nav currentRoom=room}}
  {{room-selector updateRoom="updateRoom" currentRoom=room}}
  {{event-carousel events=events}}
  {{event-add}}
</section>
