<div class="sidebar">
  <section class="section">
    {{sidebar-time}}
  </section>
  <section class="section event-list">
    <h1 class="title"><strong>Upcoming Reservations</strong></h1>
    <ul>
      {{#each events as |event|}}

      {{/each}}
    </ul>
  </section>
</div>
