<div class="content">
  <div class="level">
    <div class="level-left">
      <div class="level-item">
        <p>{{eventName}}</p>
      </div>
    </div>
    <div class="level-right">
      <div class="level-item">
        <p>{{eventTime}}</p>
      </div>
    </div>
  </div>
</div>
