<section class="hero is-fullheight sidebar">
  <div class="hero-head">
    {{sidebar-time}}
  </div>
  <div class="hero-head event-list">
    <section class="section">
      <h1 class="title"><strong>Upcoming Reservations</strong></h1>
      {{#each events as |event|}}
        {{event-item event=event}}
      {{/each}}
    </section>
  </div>
  <div class="hero-foot event-add">
    <section class="section">
      {{event-add}}
    </section>
  </div>
</section>
