<div class="level">
  <div class="level-left">
    <div class="level-item">
      <h1 class="subtitle is-3">{{eventName}}</h1>
    </div>
  </div>
  <div class="level-right">
    <div class="level-item">
      <h1 class="subtitle is-3">{{eventTime}}</h1>
    </div>
  </div>
</div>
