<section class="hero is-fullheight">
  <div class="hero-head">
    <h1 class="title is-1 is-unselectable"><strong>{{currentRoom}}</strong></h1>
  </div>
  <div class="hero-foot">
    {{#if isOpen}}
      <h1 class="title is-1">OPEN</h1>
    {{else}}
      {{event-title event=currentEvent}}
    {{/if}}
  </div>
</section>
