<section class="hero is-fullheight">
  <div class="hero-head">
    <h1 class="title is-1 is-unselectable"><strong>{{currentRoom}}</strong></h1>
  </div>
  <div class="hero-foot">
    <h1 class="title is-1">ROOM STATUS</h1>
  </div>
</section>
