<section class="section time has-text-centered is-paddingless">
  <p class="title is-1">
    {{moment-format (now) 'HH:mm:ss A'}}
  </p>
  <p class="subtitle is-1">
    {{moment-format (now) 'dddd, MMMM DD'}}
  </p>

</section>
