& {
    .section {
      background: transparent;
    }

    .sidebar {
      height: 100vh;
    }

    .event-list {
      vertical-align: top;
    }

    .title, .subtitle {
      color: #fff;
    }

    a {
      color: #1787fb !important;
      font-size: 24px;
    }

    .button {
      width: 100%;
      border-radius: 100px;
      background-color: #fff;
      padding: 1.5em;
    }
}
