& {
    .section {
      background: transparent;
    }

    .sidebar {
      height: 100vh;
    }

    .event-list {
      vertical-align: top;
    }

    .title, .subtitle {
      color: #fff;
    }
}
