& {
    .hero {
      background: transparent;
    }

    .section {
      background: transparent;
    }

    .sidebar {
      height: 100vh;
      background-color: rgba(0,0,0,0.5);
    }

    .event-list {
      vertical-align: top;
    }

    .title, .subtitle {
      color: #fff;
    }
}
