& {
    .ember-power-select-trigger {
      color: #000;
      width: 58%;
      height: 10%;
      position: fixed;
      top: .5em;
      left: .5em;
      z-index: 3;

        &:focus {
          outline: none;
        }
    }

    .ember-power-select-trigger {
      border: none;
      background-color: rgba(0,0,0,0);

        &:focus {
          border: none;
          background-color: rgba(0,0,0,0);
        }
    }

    .ember-power-select-status-icon {
      border: none;
    }

    .ember-power-select-selected-item {
      display: none;
    }
}
